.interactive-floorplan {
    $self: &;

    position: relative;

    * {
        svg {
            * {
                font-family: "Open Sans",sans-serif!important;
            }
        }
    }

    #{ $self }--overlay {
        border: 1px solid #000;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }

    &.focus {
        #{ $self }--background {
            filter: saturate(0) opacity(0.5);
        }
    }

    &.disable-zoom {
        #{ $self }--overlay {
            pointer-events: none;
        }
    }

    &.el-hover {
        #{ $self }--background {
            -webkit-filter: grayscale(100);
            filter: grayscale(100);
            opacity: 0.4;
        }
        .asset:not(.hover) {
            opacity: 0.6;
        }
    }

    .asset {
        &.clickable {
            cursor: pointer;
            text {
                cursor: pointer;
            }
        }
        &.ignore {
            text {
                opacity: 0.6;
            }
        }
        text {
            cursor: default;
            pointer-events: none;
        }
    }

    div.tooltip {
        position: absolute;
        opacity: 1;

        .inner {
            background-color: #fff;
            padding: 7px 15px 7px 7px;
            text-shadow: #f5f5f5 0 1px 0;
            border: 1px solid;
            border-color: #aaaaaa;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
            min-width: 250px;
            min-height: 80px;
        }

        .close {
            top: 0;
            right: 10px;
            position: absolute;
            font-size: 20px;
        }

        &.left {
            &::before {
                content:'';
                display:block;
                width:0;
                height:0;
                position:absolute;
                background: transparent;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right:8px solid #aaaaaa;
                left:-2px;
            }
            &.top {
                &::before {
                    top: 35px;
                }
            }
            &.bottom {
                &::before {
                    top: calc(100% - 50px);
                }
            }
        }

        &.right {
            &::after {
                content:'';
                display:block;
                width:0;
                height:0;
                position:absolute;
                background: transparent;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left:8px solid #aaaaaa;
                right:-2px;
            }
            &.top {
                &::after {
                    top: 35px;
                }
            }
            &.bottom {
                &::after {
                    right: -6px;
                    top: calc(100% - 50px);
                }
            }
        }

        &.hide {
            visibility: hidden !important;
        }
    }

    &.interaction-disabled {
        > div:not(.tooltip) {
            filter: opacity(0.5) grayscale(1);
            pointer-events: none!important;
            * {
                pointer-events: none!important;
            }
        }

    }
}
